<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
	<!-- 文件 -->
	<appender name="callbackAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.home}/logs/icop.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.home}/logs/icop.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n</Pattern>
		</layout>
	</appender>

	<!--控制台-->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n</pattern>
		</encoder>
	</appender>
	<!--*************************【打印日志】**************************-->
	<!-- 单笔代收日志 -->
	<logger name="org.coody" additivity="true">
		<level value="debug" />
		<appender-ref ref="callbackAppender" />
	</logger>
	<root level="debug">
		<appender-ref ref="console" />
	</root>
</configuration>